{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
    <div class="container" style="max-width: auto; max-height: 100%;">
        <h3>Appointments</h3>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Patient Name</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            {% if appointments %}
                {% for appointment in appointments %}
                <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ appointment.first_name }} {{ appointment.last_name }}</td>
                        <td>{{ appointment.phone }}</td>
                        <td>
                            {% if appointment.is_completed %}Completed{% else %}Upcoming{% endif %}
                        </td>
                        <td><a href="{% url 'appointment_details' appointment.id %}" class="text-warning text-decoration-none">See Details</a></td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center fw-bolder">No Appointments for Today!</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}