{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container form-control p-5 mt-5" style="max-width: 800px;">
        <h3>Case No: {{ appointment.id }}</h3>
        <table class="table container mt-5">
            <tr>
                <td colspan="2">
                    <div style="
                        width: 150px;
                        height: 150px;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #f8f8f8;">
                    
                        {% if appointment.profile_pic %}
                            <img src="{{ appointment.profile_pic.url }}"
                                alt="Profile Picture"
                                style="max-width: 100%; max-height: 100%; object-fit: cover;">
                        {% else %}
                            <span style="color: #aaa;">No image</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>:</td>
                <td>{{ appointment.first_name }} {{ appointment.last_name }}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>{{ appointment.dob }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>{{ appointment.gender }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>:</td>
                <td>{{ appointment.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>:</td>
                <td>{{ appointment.phone }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>{{ appointment.address }}</td>
            </tr>
            {% if user.role == 'doctor' %}
            <tr>
                <td>Variables</td>
                <td>:</td>
                <form method="post">
                    {% csrf_token %}
                    <td>{{ form|crispy }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </td>
                </form>
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}