{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
    <div class="container" style="max-width: auto; max-height: 100%;">
        <h1>Appointments</h1>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Patient Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% if appointments %}
                {% for appointment in appointments %}
                <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ appointment.first_name }} {{ appointment.last_name }}</td>
                        <td>{{ appointment.phone }}</td>
                        <td>
                            <a href="" class="text-success" style="margin-right: 5px;"><i class="bi bi-pencil-square"></i></a>
                            <a href="" class="text-warning" style="margin-right: 5px;"><i class="bi bi-hourglass-split"></i></a>
                            <a href="" class="text-danger"><i class="bi bi-exclamation-octagon-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center fw-bolder">No Appointments for Today!</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}