{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block title %}Home{% endblock %}

{% block content %}
    <form method="post" class="container form-control p-5 mt-5" style="background-color: rgb(231, 227, 222); max-width: 800px;">
        <h3>Book An Appointment</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <p class="text-danger">* Booking fee and doctor visit 300tk only.</p>
    </form>
{% endblock %}